* {
  font-family: "SF Pro Text", "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "SF Pro Display";
}

.bg-purple {
  background: #35283c;
}

.bg-purple-iphone {
  width: 3008px;
  height: 624px;
  background-size: 3008px 624px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_large.jpg);
}

.bg-valentine-iphone {
  width: 3008px;
  height: 624px;
  background-size: 3008px 624px !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://www.apple.com/v/home/aj/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_large.jpg);
}

.section-bg-style {
  height: 600px;
  background-size: 1200px 600px;
  background-position: center center;
  background-repeat: no-repeat;
}

.shot-iphone {
  background-image: url("../images/tile_soip__f0c6lef982em_large.jpg");
}

.iphone-watch {
  background-image: url("../images/iphone-watch.jpg");
}

.iphone-watches {
  background-image: url("../images/iphone-watches.jpg");
}

.iphone-dark-watch {
  background-image: url("../images/promo_watch__fo7j0tnywi2q_large.jpg");
}

.icard {
  background-image: url("../images/icard.jpg");
}

.ipeople {
  background-image: url("../images/ipeople.jpg");
}

.bg-gray {
  background-color: #f5f5f7;
}

#main-nav a {
  color: #f0f0f1;
  font-size: 12px;
}

.footer-font span, .footer-font li,.footer-font th,.footer-font td {
  font-size: 12px;
}

#main-nav {
  background: #333333;
}
